/* We need a bit more space for our citations labels. */
div.citation > p {
  margin-left: 7em;
}

/* Render version annotations in gray to make them different from normal text. */
.versionmodified {
	color: #9fa2a5;
}
